* {
    box-sizing: border-box;
  }
  html {
    background: rgb(233, 231, 231); 
  }
  

/*BACKGROUND*/
.bkgrd-container{
  position: relative;
  top: 0;
  background-color: #0B0205;
  
}
  ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr) 1.2fr 1.2fr 0.5fr;
    grid-template-rows: 7vw repeat(5, 7vw) 7vw 6.5vw 6.5vw;
    box-shadow: 1px 3px 8px rgba(0,0,0,0.5);
    overflow: hidden;
  }
  li {
    height: 100%;
    border: 1vw solid black;
    background-size: cover;
  }
  li:nth-child(1) {
    grid-column: span 2;
    background-color: white; 
    border-top: none;
    border-left: none;
  }
  li:nth-child(2) {
    grid-column: span 3;
    background-color: #241785;
    border-top: none;
  }
  li:nth-child(3) {
    grid-column: span 2;
    background-color: #F2C968;
    border-top: none;
  }
  li:nth-child(4) {
    grid-row: span 6;
    background-color: white;
    border-top: none;
    border-right: none;
  }
  li:nth-child(5) {
    grid-row: span 2;
    background-color: white;
    border-left: none;
  }
  li:nth-child(6) {
    grid-column: span 4;
    grid-row: span 4;
    background-color: #D62D24;
  }
  li:nth-child(7) {
    grid-row: span 2;
    grid-column: span 2;
    background-color: #EDCC6B;
  }
  li:nth-child(8) {
    grid-row: span 3;
    background-color: white;
    border-left: none;
  }
  li:nth-child(9) {
    grid-row: span 2;
    background-color: white;
  }
  li:nth-child(10) {
    grid-row: span 2;
    background-color: white;
  }
  li:nth-child(11) {
    grid-row: span 2;
    grid-column: span 2;
    background-color: #130409;
  }
  li:nth-child(12) {
    grid-column: span 2;
    background-color: white;
  }
  li:nth-child(13) {
    grid-column: span 2;
    background-color: white;
  }
  li:nth-child(14) {
    grid-row: span 3;
    background-color: #F4C65A;
    border-left: none;
    border-bottom: none;
  }
  li:nth-child(15) {
    grid-column: span 2;
    background-color: white;;
  }
  li:nth-child(16) {
    grid-row: span 2;
    grid-column: span 2;
    background-color: #241785;
  }
  li:nth-child(17) {
    grid-row: span 3;
    background-color: #D73630;
    border-bottom: none;
    border-right: none;
  }
  li:nth-child(18) {
    grid-column: span 2;
    grid-row: span 2;
    background-color: white;
    border-bottom: none;
  }
  li:nth-child(19) {
    grid-column: span 2;
    background-color: #0B0205;
  }
  li:nth-child(20) {
    grid-column: span 4;
    background-color: white;
    border-bottom: none;
  }
  
  /*SLIDE ANIMATION*/
  .slide-left {
    width:100%;
    overflow:hidden;
    animation: slide-left 5s;
    padding-left: 30px;
    font-size: 100px;
    font-weight: 200;
    color: white;
  }
  
  @keyframes slide-left {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  .slide-up {
    height:200px;
    overflow:hidden;
    animation: 5s slide-up;
    margin-top: -5%;
    padding-left: 30px;
    font-size: 30px;
    font-weight: 100;
    color: white;
  }
  
  @keyframes slide-up {
    from {
      margin-top: 100%;
      height: 300%; 
    }
  
    to {
      margin-top: -5%;
      height: 100%;
    }
  }

  .menu li{
    background-color: transparent
  }
  .nav-item{
    background-color: transparent;
    border: none;
    color: #0B0205;
  }
  .nav-link{
    color: black;
    background-color: transparent;
  }

  /*PROJECTS*/
  .projects{
    background-color: rgb(233, 231, 231);
  }
  .project1{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .projects .header{
    text-align: center;
    padding: 70px;
  }
  .projects img{
    border: #0B0205 2px solid;
    width: 700px;
  }
  .projects button{
    margin-bottom: 50px;
    border: #241785 solid 3px;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
  }


  /*ABOUT*/
  .about{
    height: 500px;
    padding: 70px;
    margin-bottom: 30px;
  }
  .about .header{
    text-align: center;
    
  }
  .about .info{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }
  .about video{
    width: 600px;
    margin: 20px;
  }
  .about p{
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 100px;
  }

  /*FOOTER*/
  .footer{
    background-color: rgb(233, 231, 231);
    height: 100px;
  }
  .footer h4{
    text-align: center;
    font-size: 15px;
    font-weight: 300;
  }

  /*MEDIA QUERIES*/

  @media screen and (max-width: 780px) {
    .slide-left {
      font-size: 75px;
    }
    .slide-up{
      font-size: 20px;
    }
    .about video{
    width: 400px;
    }
  }
  @media screen and (max-width: 470px) {
    .slide-left {
      font-size: 50px;
    }
    .slide-up{
      font-size: 15px;
    }
  }